/* ______ Features ______ */
@media(min-width:320px) and (max-width:768px) {
    .hero h2 {
        font-size: 30px;
        padding-top: 60px;
    }

    .service-item {
        padding: 30px 20px !important;
    }

    section,
    .section {
        padding: 40px 0px !important;
        margin-bottom: 0;
    }

    .cta-content {
        padding: 0px 0px !important;
    }

    .call-to-action p{
        text-align: justify;
        font-size: 13px;
        padding: 0px 28px;
    }

    /* ---- NAV LINKS FIXING ----- */
    .nav-links-wrapper {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 47px;
        left: 0;
        background-color: #000;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links-wrapper.show {
        display: flex !important;
    }

    .nav-links.active {
        color: #ffc451;
    }

    .menu-toggle {
        color: aliceblue;
        display: block;
        padding-right: 0px !important;
    }

    .btn-getstarted {
        display: none;
    }

    #carouselAdding{
        padding: 40px 20px !important;
    }

    .clients .img-thumbnail {
        filter: grayscale(0%);
    }

    form input, textarea{
        border: 1px solid #afa9a97a;
        border-radius: 5px;
    }

    section[id="contact"]{
        padding: 0px !important;
        background-color: rgba(128, 128, 128, 0.11);
        padding-top: 20px !important;
    }
}